*#
*~
.#*
/Catalyst-Manual-*.tar
/Catalyst-Manual-*.tar.gz
/Catalyst-Manual-*/
/Distar
/MANIFEST
/MANIFEST.SKIP
/MANIFEST.bak
/MYMETA.*
/Makefile
/Makefile.old
/README
/_eumm/
/blib/
/cover_db/
/pm_to_blib
/.ackrc
