# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Gerda Shank <gshank@cpan.org> <gerda.shank@gmail.com>
Jesse Sheidlower <jester@panix.com> Jesse <jester@panix.com>
Jonathan Yu <jawnsy@cpan.org> <frequency@cpan.org>
Kennedy Clark <hkclark@gmail.com> hkclark <hkclark@gmail.com>
Kennedy Clark <hkclark@gmail.com> <hkclark@cpan.org>
Mateu X. Hunter <hunter@missoula.org> Mateu X Hunter <hunter@missoula.org>
Rafael Kitover <rkitover@cpan.org> <rkitover@io.com>
